<!DOCTYPE html>
<html>

<body>

    {% extends "account/email/base_message.html" %}
    {% load i18n %}

    {% block content %}
    {% autoescape off %}
    {% blocktrans %}
    <p>Richiesto reset della password.</p>
    {% endblocktrans %}

    <p>Per resettare la tua password, clicca il seguente link:
        <a href="{{ password_reset_url }}">{{ password_reset_url }}</a>
    </p>

    {% if username %}

    {% blocktrans %}
    <p>La tua email: <b>{{ username }}.</b></p>
    {% endblocktrans %}
    {% endif %}
    {% endautoescape %}
    {% endblock %}

</body>

</html>